<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="meals">
<head>
<title>CLEAN BLUE</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
<script src="meals.js"></script>

		<style>
			.mealsList th.header{
				//border-top : 1px solid #036; 
				border-bottom : 1px solid #036;
				border-left: 0px;
				border-right: 0px;
			}
			.mealsList td,th{
				padding-left: 5px;
				padding-right: 5px;
			}

			.mealsList td{
				border-bottom : 1px solid #8fb8cc;
			}
			td.number,th.number{
				text-align:right;
			}
			th.string{
				text-align:left;
			}
			input.smallNumber{
				width: 30px;
				style="text-align:right;"
			}
			.mealForm{
				width: 90%;
			}
			.mealForm td{
				text-align:right;
			}
			.button{
				cursor: pointer;
			}
		</style>
</head>
<body>
<div id="container">
  <div id="top">
    <h1>Company Name</h1>
  </div>
  <div id="navcontainer">
    <ul id="navlist">
      <li id="active"><a href="http://www.free-css.com/" id="current">Item one</a></li>
      <li><a href="http://www.free-css.com/" >Item two</a></li>
    </ul>
  </div>
  <div id="leftnav">
    <h2>More Links</h2>
    <ul id="leftnavmenu">
      <li><a href="http://www.free-css.com/">SNAPP HAPPY</a></li>
    </ul>
    <h2>Archives</h2>
    <ul>
      <li><a href="http://www.free-css.com/">January</a></li>
      <li><a href="http://www.free-css.com/">February</a></li>
      <li><a href="http://www.free-css.com/">March</a></li>
      <li><a href="http://www.free-css.com/">April</a></li>
      <li><a href="http://www.free-css.com/">May</a></li>
    </ul>
    <p class="quote">Happiness is a journey, not a destination.</p>
  </div>
  <div id="content">
  
  	<div ng-controller="MealsController as mealsCtrl">
	  <h2>
	  	Lista posilkow z dnia 
	  	<img class="button" src="images/left.gif" ng-click="mealsCtrl.showPreviousDay()"/> 
	  	{{mealsCtrl.date | date: 'dd-MM-yyyy'}} 
	  	<img class="button" src="images/right.gif" ng-click="mealsCtrl.showNextDay()"/>
	  </h2>
  		<table style="width:100%; " cellspacing="0" class="mealsList" ng-if="mealsCtrl.mealsList.meals.length > 0">
  			<tr >
  				<th class="header string">Nazwa</th>
  				<th class="header number" width="5%">B</th>
  				<th class="header number" width="5%">W</th>
  				<th class="header number" width="5%">T</th>
  				<th class="header number" >Waga [g]</th>
  				<th class="header number">kcal</th>
  				<th class="header number">&nbsp;</th>
  			</tr>
  			<tr ng-repeat="meal in mealsCtrl.mealsList.meals">
				<td>{{meal.name}}</td>
				<td class="number">{{meal.proteins}}</td>
				<td class="number">{{meal.carbohydrates}}</td>
				<td class="number">{{meal.fats}}</td>
				<td class="number">{{meal.weight}}</td>
				<td class="number">{{meal.kcal}}</td>
				<td class="number"><img class="button" src="images/delete.png" ng-click="mealsCtrl.deleteMeal(meal.id)" /></td>  	  			
  			</tr>
  			<tr >
  				<th class="string">Suma</th>
  				<th class="number" width="5%">{{mealsCtrl.mealsList.proteinsTotal}}</th>
  				<th class="number" width="5%">{{mealsCtrl.mealsList.carbohydratesTotal}}</th>
  				<th class="number" width="5%">{{mealsCtrl.mealsList.fatsTotal}}</th>
  				<th class="number" >{{mealsCtrl.mealsList.weightTotal}}</th>
  				<th class="number">{{mealsCtrl.mealsList.kcalTotal}}</th>
  				<th class="number">&nbsp;</th>
  			</tr>  			
  		</table>
  		<p  ng-if="mealsCtrl.mealsList.meals.length === 0">
  			Tego dnia jeszcze nic nie zjadles.
  		</p>
  		  		
  		<h2>Nowy posilek</h2>
		<form method="post" ng-submit="mealsCtrl.addMeal()" class="mealForm">
			<table >
				<tr>
					<td>Nazwa</td>
					<td><input  id="name" type="text"  ng-model="mealsCtrl.meal.name" tabindex="1" /></td>
					<td>Bialko/100g</td>
					<td><input class="smallNumber" type="text" ng-model="mealsCtrl.meal.proteins" tabindex="4"/></td>
				</tr>					
				<tr>
					<td>Waga [g]</td>
					<td><input id="weight" style="text-align:right;" type="text"  ng-model="mealsCtrl.meal.weight" tabindex="2"/></td>
					<td>Weglowodany/100g</td>
					<td><input class="smallNumber" type="text" ng-model="mealsCtrl.meal.carbohydrates" tabindex="5"/></td>
				</tr>					
				<tr>
					<td>Ilosc kcal/100g</td>
					<td><input style="text-align:right;" type="text" ng-model="mealsCtrl.meal.kcalPer100g" tabindex="3" /></td>
					<td>Tluszcze/100g</td>
					<td><input class="smallNumber" type="text" ng-model="mealsCtrl.meal.fats" tabindex="6"/></td>
				</tr>					
			</table>
    		<input type="submit" id="submit" value="Dodaj" tabindex="7" />
	  	</form>
  	</div>
  </div>
  <div id="footer">
    stopkas
  </div>
</div>
</body>
</html>
